.usercard {
    display:flex;
    margin: 16px 0;
    border-bottom: 1px solid #f4f4f4;
}
.usercard:hover{
    background-color: lightgray;
    cursor: pointer;
}
img {
    margin-left:16px;
    height:100px;
    width:100px;
    border-radius:50%;
}
.user-info{
    margin-top:8px;
    margin-left:16px;
}
.title{
    font-size:16pt;
}
p{
    margin-top:8px;
    margin-bottom: 0;
}