.question,.answered-question{
    max-width:480px;
    margin:16px auto;
    border:2px solid gray;
}
.question{
    background-color: lightgray;
}
.flex{
    display:flex;
    justify-content: space-around;
    padding-bottom:16px;
}

.option,.optionanswered{
    padding:8px;
    width:40%;
}
.option:hover{
    cursor: pointer;
    background-color: white;
}